/*inspiration: https://s-bonanno.github.io/odin-dashboard/ */
/* universal css */

@font-face {
    font-family: "Source Code Pro", monospace;
    src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);
}


html, body {
    margin: 0;
    font-family: 'Source Code Pro';
}

div {
    border: solid 1px black;
}

ul, li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}



/* header styling */

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.nav form {
    display: grid;
    align-items: center;
}

.profile-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-pic img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}


/* sidebar styling */


.sidebar {
    display: grid;
    grid-row: 1 / 5;
}