/*inspiration: https://s-bonanno.github.io/odin-dashboard/ */
/* universal css */

@font-face {
    font-family: "Source Code Pro", monospace;
    src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);
}


html, body {
    font-family: 'Source Code Pro';
    margin: 0;
    padding: 0;
}

/* div {
    border: solid 1px black;
} */

ul, li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr;
    background-color: var(--bg-main);
    color: var(--text-primary);
}


:root {
    --bg-main: #F5F5F5;
    --bg-section: #E8ECF1;
    --primary: #256FCC;
    --primary-light: #5B8ED8;
    --accent: #E6A14D;
    --accent-muted: #CC8225;
    --text-primary: #222222;
    --text-secondary: #555555;
}

a:hover {
    color: var(--primary-light);
}

a {
    color: var(--text-primary);
}

/* header styling */

.header {
    grid-area: 1 / 2 / 2 / 4; 
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.nav form {
    display: grid;
    align-items: center;
}

.pro-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pro-pic img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}


/* sidebar styling */


.sidebar {
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    justify-content: center;
    background-color: var(--bg-section);
    color: var(--text-primary)
}

.sidenav > ul {
    padding: 0;
    display: grid;
    gap: 10px;
}

.sidenav a {
    background-position: left top;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 30px;
}

/* icon images for sidebar*/

#dashboard {
    background-image: url(images/icons/engine.svg);
}

#home {
    background-image: url(images/icons/home-account.svg);
}

#profile {
    background-image: url(images/icons/account.svg);
}

#messages {
    background-image: url(images/icons/message.svg);
}

#tasks {
    background-image: url(images/icons/checkbox-marked-circle-auto-outline.svg);    
}

#communities {
    background-image: url(images/icons/forum.svg);
}

#setting {
    background-image: url(images/icons/engine.svg);
}

#support {
    background-image: url(images/icons/face-agent.svg);
}

#privacy {
    background-image: url(images/icons/privacy.svg);
}

#faq {
    background-image: url(images/icons/chat-question.svg);
}

.divider {
    border: solid 1px grey;
}


/* Cards Styling */

.article {
    display: grid;
    grid-area: 2 / 2 / 3 / 4;
    gap: 20px;
}


.cards {
    border: solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.cards:hover {
    box-shadow: 0 8px 16px rgba(5, 116, 141, 0.2); /* Enhance shadow on hover */

}

.cards > h2 { 
    display: flex;
    color: grey;
    min-height: fit-content;
    align-items: center;
}

.section-title {
    font-size: 22px;
    font-weight: 400px;
    grid-area: 1 / 1 / 1 / 5;
    display: grid;
    justify-content: center;
}

.icons-control {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 0;
    margin: 0;
}

.card-icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.card-image {
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 5px;
}

#bimage1{
    background-image: url(/images/icons/b-image1.jpg);
}

#bimage2{
    background-image: url(/images/icons/b-image2.jpg);
}

#bimage3{
    background-image: url(/images/icons/b-image3.jpg);
}

#bimage4{
    background-image: url(/images/icons/b-image4.jpg);
}

/* announcement bar styling */

.announcements {
    display: grid;
    grid-area: 2 / 4 / 4 / 4;
    gap: 10px;
    padding: 20px;
    border: solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.trending {
    display: grid;
    grid-column-start: 4;
}



/* trending styling */

.profile-pic { 
    background-image: url(/images/icons/b-image4.jpg);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55px;
    overflow: hidden;
    width: 55px;
}

.trending-card { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border: solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trending-card > p { 
    grid-area: 2 / 1 / 2 / 4;
}

.trending-card > a {
    grid-area: 3/ 1 / 3 / 4;
}

/* footer styling */

.footer {
    display: grid;
    grid-area: 4 / 1 / 4 / 4; 
    justify-content: center;
    background-color: #256FCC;
    color: whitesmoke;
}

#footer-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}